MANAGE_PY_PATH=manage.py
# Docker image version
VERSION=0.1.0
# django secret key, generate your own using `python -c "import secrets; print(secrets.token_urlsafe())"`
SECRET_KEY=replace-with-your-key
DEBUG=False
# set allowed hosts, comma separated, e.g. localhost,example.com
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
FORCE_SCRIPT_NAME=/{{ project_slug }}
# log file path
LOGFILE=log/{{ project_slug }}.log
# supper user setting
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL={{ project_slug }}@example.com
DJANGO_SUPERUSER_PASSWORD="replace-with-a-secure-password"
# Deployment settings
GUNICORN_WORKERS=4
GUNICORN_THREADS=4
# database settings
DB_NAME={{ project_slug }}
DB_USER={{ project_slug }}
DB_PASSWORD={{ project_slug }}
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60
# redis settings
REDIS_HOST=redis
REDIS_PORT=6379
# sentry settings
SENTRY_DSN=replace-with-your-sentry-dsn
SENTRY_LOG=False
SENTRY_TRACES_SAMPLE_RATE=0.01
SENTRY_PROFILE=trace
